<div class="container px-5 px-sm-0 py-5">
  <div class="row">
    <div class="col-md-8">
       <% if @address.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <% @address.errors.full_messages.each do |message| %>
            <p><%= message %></p>
          <% end %>
        </div>
      <% end %>

      
      <h1>配送先編集</h1>
      
      <%= render 'form', address: @address%> 
    </div>
  </div>
</div>  
