<!--顧客側／注文完了画面-->
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <h3 class="d-flex align-items-center justify-content-center" style="height:500px;">
        <i class="fa-solid fa-cake-candles fa-bounce" style="color: #4e454a;"></i>
        ご注文ありがとうございました
        <i class="fa-solid fa-cake-candles fa-bounce" style="color: #4e454a;"></i>
      </h3>
    </div>
  </div>
</div>