<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <h3 class="d-flex align-items-center justify-content-center" style="height:500px;">ご注文ありがとうございました！</h3>
    </div>
  </div>
</div>