<div class='container'>
  <div class='row'>
    <div class="col-md-8 px-5 mx-auto">
<!--顧客側／商品一覧画面-->
<!--ここでのafter_taxはItemモデルに定義したメソッドのこと-->
    <h2>商品一覧（全<%= Item.all.count %>件）</h2>

<!--！レイアウトがテーブルのまま-->
<!--販売中の商品のみ表示させるのか？-->
    <table class='table table-hover table-inverse'>
      <tbody>
      <% @items.each do |item| %>
      <tr>
        <!--<td><%#= image_tag item.image, size: "180x120" %></td>-->
        <td><%= link_to item.name, item_path(item.id) %></td>
        <td>￥<%= item.after_tax.to_s(:delimited) %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @items %>
    </div>
  </div>
</div>